<form id="update-password-form" class="col-xs-12 col-sm-6 col-md-4" ng-submit="onUpdatePassword()" role="form" ng-init="updatePasswordForm = {}">
  <h2>Update Your Password</h2>
  <div class="form-group">
    <label>Enter New Password</label>
    <input type="password" name="email" ng-model="updatePasswordForm.password" placeholder="Password" required class="form-control">
  </div>
  <div class="form-group">
    <label>Confirm Your New Password</label>
    <input type="password" name="email" ng-model="updatePasswordForm.password_confirmation" placeholder="Confirm" required class="form-control">
  </div>

  <div ng-hide="!updatePasswordAlerts.length" class="form-group">
    <alert ng-repeat="alert in updatePasswordAlerts" type="{{alert.type == 'error' ? 'danger' : alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>