<form id="update-password-form" class="col-xs-12 col-sm-6 col-md-4" ng-submit="onUpdatePassword()" role="form" ng-init="updatePasswordForm = {}">
  <h2>Update Your Password</h2>

  <div class="form-group">
    <label for="updatePassword" class="control-label sr-only">Enter New Password And Confirm</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input id="updatePassword" type="password" name="password" ng-model="updatePasswordForm.password" placeholder="Enter A New Password" required class="form-control">
      <span class="input-group-multi"></span>
      <input id="updatePasswordConfirm" type="password" name="passwordConfirmation" ng-model="updatePasswordForm.password_confirmation" placeholder="Confirm" required class="form-control">
    </div>
  </div>

  <div ng-hide="!updatePasswordAlerts.length" class="form-group">
    <alert ng-repeat="alert in updatePasswordAlerts" type="{{alert.type == 'error' ? 'danger' : alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>