<form id="reset-password-form" class="col-xs-12 col-sm-6 col-md-4" ng-submit="onRequestPasswordReset()" role="form" ng-init="resetPasswordForm = {}">
  <h2>Password Reset</h2>

  <div class="form-group">
    <label for="resetPasswordEmail" class="control-label sr-only">Enter Your Email Address</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <input id="resetPasswordEmail" type="email" name="email" ng-model="resetPasswordForm.email" placeholder="Enter Your Email Address" required class="form-control">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Request Password Reset</button>
</form>