<div id="user-{{user.id}}" class="col-xs-12 col-sm-6 col-md-4">
  <h3>{{ user.username }}</h3>
  <user-profile-pic user="user"></user-profile-pic>

  <p>
    <span ng-if="isAdmin">
      <span class="label label-primary"><i class="fa fa-user fa-fw"></i>&nbsp;Admin</span>
    </span>
  </p>

  <form id="user-edit-form" name="userEditForm" ng-submit="submit()" role="form">
    <div class="form-group" ng-messages="userEditForm.name.$error">
      <label for="userName">Name</label>&nbsp;
      <span ng-message="required" class="label label-danger">Required</span>
      <span ng-message="minlength" class="label label-danger">Must be at least 2 characters</span>
      <span ng-message="pattern" class="label label-danger">Must be alphanumeric</span>
      <input type="text" id="userName" name="name" placeholder="Name" ng-model="user.name" required="required" ng-minlength="2" ng-pattern="validName" class="form-control"/>
    </div>

    <div class="form-group" ng-messages="userEditForm.nickname.$error">
      <label for="userNickname">Nickname</label>&nbsp;
      <span ng-message="minlength" class="label label-danger">Must be at least 2 characters</span>
      <input type="text" id="userNickname" name="nickname" placeholder="Nickname" ng-model="user.nickname" ng-minlength="2" class="form-control"/>
    </div>

    <div class="form-group">
      <button type="button" ng-click="passwordReset()" class="btn btn-link pull-left">Change Password</button>
      <button type="submit" class="btn btn-default pull-right">
        <i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;Save
      </button>
      <button type="button" ui-sref="users-profile({userId: user.id})" class="btn btn-link pull-right">Cancel</button>
    </div>
  </form>
</div>
