<div class="row">
  <div class="col-sm-12">
    <div class="well well-lg">
      <h1 class="text-center hidden-xs">
        <!--<span class="fa-stack fa-lg">-->
          <!--<i class="fa fa-square fa-stack-2x"></i>-->
          <!--<i class="fa fa-play fa-stack-1x fa-inverse stacked-icon-gray"></i>-->
        <!--</span>-->
        <span class="font-title">Appistack</span>
      </h1>
      <h2 class="text-center visible-xs">
        <div class="font-title">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse stacked-icon-gray"></i>
          </span>
          Appistack
        </div>
      </h2>

      <h2 class="text-center">
        <span class="fa-stack fa-lg hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-rocket fa-stack-1x fa-inverse stacked-icon-gray"></i>
        </span>
        Launch a new API-Driven Single Page App in an hour or less!
        <span class="fa-stack fa-lg hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-rocket fa-stack-1x fa-inverse stacked-icon-gray"></i>
        </span>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <img src="/img/vox-logo.png" style="display:block;margin-right:auto;margin-left:auto;">
</div>

<div class="row text-center">
  <p>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Chrome v43</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Chrome (Android)</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Firefox</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Firefox (Android)</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Safari</span>
  </p>
  <p>
    <span class="label label-danger"><i class="fa fa-times-circle fa-lg"></i> Chrome (iOS))</span>
    <span class="label label-danger"><i class="fa fa-times-circle fa-lg"></i> Android Browser</span>
    <span class="label label-danger"><i class="fa fa-times-circle fa-lg"></i> Safari (iOS)</span>
  </p>
  <p>
    <span class="label label-danger"><i class="fa fa-question-circle fa-lg"></i> IE</span>
    <span class="label label-danger"><i class="fa fa-question-circle fa-lg"></i> Ionic (crosstalk)</span>
  </p>
</div>

<div class="text-center">
  <a href="https://github.com/appistack/appistack" class="btn btn-outline btn-lg">
    <i class="fa fa-github-alt fa-2x"></i>&nbsp;&nbsp;View Appistack on Github&nbsp;&nbsp;<i class="fa fa-github-alt fa-2x"></i>
  </a>
</div>
