<div class="row">
  <div class="col-sm-12">
    <div class="well well-lg">
      <h1 class="text-center hidden-xs">
        <!--<span class="fa-stack fa-lg">-->
          <!--<i class="fa fa-square fa-stack-2x"></i>-->
          <!--<i class="fa fa-play fa-stack-1x fa-inverse stacked-icon-gray"></i>-->
        <!--</span>-->
        <span class="font-title">Voxxel</span>
      </h1>
      <h2 class="text-center visible-xs">
        <div class="font-title">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-play fa-stack-1x fa-inverse stacked-icon-gray"></i>
          </span>
          Voxxel
        </div>
      </h2>

      <h2 class="text-center">
        <span class="fa-stack fa-lg hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-play fa-stack-1x fa-inverse stacked-icon-gray"></i>
        </span>
            Discover <em>Your</em> Voice(s)
        <span class="fa-stack fa-lg hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-fast-forward fa-stack-1x fa-inverse stacked-icon-gray"></i>
        </span>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <img src="/img/vox-logo.png" style="display:block;margin-right:auto;margin-left:auto;">
</div>

<div class="row text-center">
  <!--<h3>login with any email address and 'password'</h3>-->
  <p>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Chrome v42</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Chrome (Android)</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Firefox</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Firefox (Android)</span>
    <span class="label label-success"><i class="fa fa-check-circle fa-lg"></i> Safari</span>
  </p>
  <p>
    <span class="label label-danger"><i class="fa fa-times-circle fa-lg"></i> Chrome (iOS))</span>
    <span class="label label-danger"><i class="fa fa-times-circle fa-lg"></i> Android Browser</span>
    <span class="label label-danger"><i class="fa fa-times-circle fa-lg"></i> Safari (iOS)</span>
  </p>
  <p>
    <span class="label label-danger"><i class="fa fa-question-circle fa-lg"></i> IE</span>
    <span class="label label-danger"><i class="fa fa-question-circle fa-lg"></i> Ionic (crosstalk)</span>
  </p>
</div>

<!--<div class="row">-->
  <!--<div class="col-sm-4">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
        <!--<h2 class="panel-title text-center">-->
          <!--Do <strong>You</strong> Need <strong>More Cowbell</strong>?-->
        <!--</h2>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<i class="fa fa-play fa-3x pull-left fa-border"></i>-->
        <!--<p>How good is your Christopher Walken impression?</p>-->
        <!--<a href="#" class="btn btn-primary" role="button">Learn More</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm-4">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
        <!--<h2 class="panel-title text-center">-->
          <!--Would The Real Richard Pryor Please Stand Up?-->
        <!--</h2>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<p>-->
          <!--Do you like to laugh?  Are you a standup comic?  Would you like to be?-->
        <!--</p>-->
        <!--<p>-->
          <!--Ever dream of performing at the Apollo?-->
        <!--</p>-->

        <!--&lt;!&ndash; Apollo &ndash;&gt;-->
        <!--&lt;!&ndash;<p>&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-forward fa-3x pull-left fa-border"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;Discovering new sounds becomes a visceral experience, where the journey is the destination. No longer do&ndash;&gt;-->
          <!--&lt;!&ndash;you have to trek into deepnet forums to discover new sounds.&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->

        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>Instead, connect with a community of audio aficionados to learn new techniques.</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>Connect with others who use the same software and hardware.</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

        <!--<a href="#" class="btn btn-primary" role="button">Learn More</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm-4">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
        <!--<h2 class="panel-title text-center">-->
          <!--Connect with entertainment personalities!-->
        <!--</h2>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<p>-->
          <!--Exercise your <strong>creative muscle</strong>-->
          <!--TODO: update feature info.-->
        <!--</p>-->
        <!--<p>-->
          <!--Learn to speak accents.-->
        <!--</p>-->
        <!--<p>-->
          <!--TODO: writer's block-->
        <!--</p>-->

        <!--&lt;!&ndash;<p>&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-fast-forward fa-3x pull-left fa-border"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;How do you get Native Instruments' Massive synth to wobble like that? How do you get your high-hats so crisp&ndash;&gt;-->
          <!--&lt;!&ndash;and your bass so boom?&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->

        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>Teach others your skills, if you want &#45;&#45; or keep the secrets to yourself.</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>Attach instrument config files, along with a 15 second snippet of sound.</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>Cultivate a following in the Music Production community and get Discovered.</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

        <!--<a href="#" class="btn btn-primary" role="button">Learn More</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
